.boardPanel{
    margin-top:40px;    
    flex-basis: auto;
    background-color: rgb(235, 236, 240);
}

.boardPanel__body{
    overflow-y: auto;
    max-height: 60vh;
}

.mainBoardsContainer__mainRow{
    flex-wrap: nowrap;
  }

.boardPanel__header{
    padding:10px;
    background-image: linear-gradient(to right, #99E5A2 , #D4FC78);
    
    .boardPanel__header__mainRow{
        flex-wrap: nowrap;
    }
    .boardPanel__header__closeCross{
        margin-top:5px;
        cursor: pointer;
        &:hover{
            color:black;
        }
    }
}



.task_card{
    background-color: ghostwhite;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .boardPanel{
        width: 100%;
        margin-bottom: 20px;
    }
  }