
  .mainBoardsContainer{
    padding-left:15px;
    padding-right: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 90%;
  }

.mainBoardsContainer__mainRow{
    flex-wrap: nowrap;
  }

  .mainBoardsContainer__addBoard{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
      button{
        width: 150px;
      }
  }