

.navbar{
    justify-content: space-around;
    .navbar__userDisplayedName{
        color:whitesmoke;
        padding-right: 50px;
    }

    .navbar__actionsContainer{
        display: flex;
    }
    .navbar__logout{
        color:#007bff;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }
}
